*, *:after, *:before
  box-sizing: border-box

img
  max-width: 100%

body
  +light
  font-size: 14px
  color: $text-color
button, input
  outline: none
.section
  padding: 100px 0
  &__title
    margin-bottom: 100px
  &-title
    text-align: center
    font-size: 30px
    +bold
    text-transform: uppercase
.button
  padding: 17px 22px
  font-size: 12px
  color: #ffffff
  border: 2px solid $primary
  background-color: #507fe1
  text-transform: uppercase
  +bold
  &-o
    background-color: transparent
    color: $primary
  &:hover
    cursor: pointer
  &-fitting
    color: $primary
    background-color: #ffffff
  &-add
    background-color: #6a99e9
    color: #ffffff
  &-like
    width: 30px
    height: 30px
    background-color: #417cde
    border: none
  &_lg
    display: block
    padding: 29px 32px
    margin-bottom: 24px
    font-size: 16px
    text-decoration: none
.bg-secondary
  background-color: $bg-secondary
.input
  height: 80px
  padding-left: 30px
  border: 1px solid #dddddd
input[type="checkbox"]
  &:checked + label::before
    background-color: $primary
.checkbox
  display: none
  &__label 
    display: flex
    align-items: center
    margin-right: 40px
    cursor: pointer
    &::before
      content: ""
      margin-right: 19px
      width: 30px
      height: 30px
      border: 1px solid #dddddd
      transition: all .6s
@media screen and ( max-width: 768px )
  .section
    padding: 60px 0
    &__title
      margin-bottom: 60px
    &-title
      font-size: 20px
@media screen and ( max-width: 576px )
  .button
    &-o
      font-size: 10px
    &_lg
      font-size: 12px
      padding: 20px 25px
  .checkbox
    &__label
      margin-right: 0
      margin-bottom: 20px